<!DOCTYPE html>
<html lang="en">
  <%- include('head', { title: 'Login' }) %>
  <body>
    <%- include('header') %>
    <div class="account-page">
      <form class="account-board" action="/login" method="POST">
        <h1>Login</h1>
          <div class="input-div">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              placeholder="username"
              required
            />
          </div>
          <div class="input-div">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="password"
              required
            />
          </div>
          <input type="submit">
          <div id="empty">
            <% if (errorMessage) { %>
              <p id="error-message"><%= errorMessage %></p>
            <% } %>
          </div>
          
        </form>
      </div>
    </div>
  </body>
</html>
